.logo.d-flex.justify-content-center.align-items-center.bg-black.text-white.h5 {
  border-radius: 10px;
  margin-bottom: 0px;
  border: 4px solid black;
  width: 281px;
}
.logo.d-flex.justify-content-center.align-items-center.bg-black.text-white.h5.h-100
  span {
  color: #1e90ff;
}
.logo.d-flex.justify-content-center.align-items-center.bg-black.text-white.h5.h-100
  a {
  text-decoration: none;
  color: white;
}
.container-fluid.header {
  background-color: #deb887;
}
.d-flex li {
  list-style: none;
  margin-left: 60px;
}

ul.d-flex.justify-content-end.align-items-center.h-100 a {
  color: #1e90ff;
  width: 72px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

ul.d-flex.justify-content-end.align-items-center.h-100 a:hover {
  color: #808000;
  text-transform: lowercase;
  transition: 1s;
}

.me {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

ul.skillset.d-flex li {
  border: 3px solid #deb887;
  border-radius: 10px;
  padding: 5px;
  margin-left: 0px;
  font-weight: 500;
}

.personal p {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container-fluid.footer {
  background-color: #deb887;
  height: 100px;
}

.left i {
  margin-left: 5px;
  font-size: 25px;
}
ul.skillset.d-flex {
  padding: 0px;
  font-size: 20px;
}

ul.toolkit.d-flex {
  padding: 0px;
  font-size: 20px;
}
ul.toolkit.d-flex li {
  margin-left: 0px;
  border: 3px solid #deb887;
  border-radius: 10px;
  padding: 5px;
  font-weight: 500;
}
ul.toolkit.d-flex li:nth-child(2) {
  margin-left: 20px;
}
p.m-1 {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #1e90ff;
}
.d-flex.align-items-center.justify-content-between a {
  font-size: 30px;
  margin-left: 10px;
}
i.fa-brands.fa-js-square {
  color: #7fff00;
}
i.fa-brands.fa-html5 {
  color: #7fff00;
}

.modal-header {
  background-color: burlywood;
}

/* Switcheris */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

ul.d-flex.justify-content-end.align-items-center.h-100
  i.fa-solid.fa-bolt-lightning {
  color: lightyellow;
  margin-right: 5px;
}

ul.d-flex.justify-content-end.align-items-center.h-100
  i.fa-solid.fa-paint-roller {
  color: black;
  margin-left: 5px;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* Video Pause/Play */

#btnvideo {
  width: 70px;
  font-size: 18px;
  padding: 5px;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#btnvideo:hover {
  background-color: grey;
  box-shadow: 3px 3px 2px orange;
}

body {
  color: #fff5ee;
}

.dark-mode {
  color: #000080;
}

.my-style {
  background-color: black !important;
}

img.img-thumbnail:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.me a {
  color: #ffa07a;
  text-decoration: none;
}

/* Shake! */

.skillset.d-flex:hover {
  animation: shake 1s;
  animation-iteration-count: 3;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.toolkit.d-flex:hover {
  animation: shake 1s;
  animation-iteration-count: 3;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
