.logo.d-flex.justify-content-center.align-items-center.bg-black.text-white.h5 {
  border-radius: 10px;
  margin-bottom: 0px;
  border: 4px solid black;
  width: 281px;
}
.logo.d-flex.justify-content-center.align-items-center.bg-black.text-white.h5.h-100
  span {
  color: #1e90ff;
}
.logo.d-flex.justify-content-center.align-items-center.bg-black.text-white.h5.h-100
  a {
  text-decoration: none;
  color: white;
}
.container-fluid.header {
  background-color: #deb887;
}
.d-flex li {
  list-style: none;
  margin-left: 60px;
}

ul.d-flex.justify-content-end.align-items-center.h-100 a {
  text-decoration: none;
  color: #1e90ff;
  font-size: 20px;
  font-weight: 600;
}

p.m-1 {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #1e90ff;
}
.d-flex.align-items-center.justify-content-between a {
  font-size: 30px;
  margin-left: 10px;
}

.modal-header {
  background-color: burlywood;
}
.container-fluid.footer {
  background-color: #deb887;
  height: 100px;
}

/* Switcheris */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

ul.d-flex.justify-content-end.align-items-center.h-100
  i.fa-solid.fa-bolt-lightning {
  color: lightyellow;
  margin-right: 5px;
}

ul.d-flex.justify-content-end.align-items-center.h-100
  i.fa-solid.fa-paint-roller {
  color: black;
  margin-left: 5px;
}

body {
  color: black;
  margin: 0;
  padding: 0;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

.dark-mode {
  color: #66cdaa;
  background-color: black;
}

.my-style {
  background-color: black !important;
}

.right-text {
  margin: 20px;
  width: 100%;
}

.work-box {
  border: 2px solid black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  margin-top: 15px;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .work-box {
    flex-direction: column;
    height: fit-content;
    padding: 0;
    border: 1px solid black;
    border-radius: 2px;
  }
}

@media screen and (max-width: 600px) {
  .work-box .right-text {
    margin: 0;
    width: 100%;
    padding: 5px;
  }
}

blockquote {
  font-size: 18px;
  color: cornsilk;
  padding-top: 10px;
}

/* Karusele */

.container-fluid.karusele {
  background-image: linear-gradient(#004ff9, #fff94c);
}

.container.karu {
  width: 500px;
  padding-bottom: 20px;
}

.year {
  border: 1px solid black;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
  border-color: #4b0082;
  width: 50px;
}

.right-text a:nth-child(2) {
  color: #483d8b;
  text-decoration: none;
}

.right-text a:nth-child(4) {
  color: #483d8b;
}

/* ANIMATION! TESTAS */

.col-sm-6 {
  animation-duration: 3s;
  animation-name: slide;
}

@keyframes slide {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* Rotate */

.up {
  width: 200px;
  transform: rotateY(45deg);
  animation: rotateAnimation 5s linear infinite;
}

@keyframes rotateAnimation {
  from {
    transform: rotateY(1deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/* Back to TOP */

#btn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
}

#btn:hover {
  background-color: grey;
  box-shadow: 5px -5px 2px orange;
}
